:root {
    --red: #ED1C24;
    --green: #047940;
    --gray: #808080;
    --blue: #1E9CD7;
    --darkblue: #0A1998;
}
.top-menu, .off-canvas {
    background-color: var(--red);
}
header {
    border-bottom: 32px solid var(--green);
}
.top-menu a, .top-menu button, .off-canvas .close {
    color: white !important;
}
.social a {
    color: white;
    background-color: var(--gray);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    max-height: 50vh;
    overflow: hidden;
}
main img {
    object-fit: cover;
}
footer a {
    color: var(--gray);
}
.icons {
    overflow: auto;
    white-space: nowrap;
}
.icons::-webkit-scrollbar {
    display: none;
}
.icons img {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
}
.logo-mobile {
    max-width: 170px;
}
.logo-mobile-wrapper {
    padding-top: .4rem;
}
.off-canvas {
    width: 300px;
    left: -310px;
    transition: left 0.5s;
}
.off-canvas.active {
    left: 0;
    transition: left 0.5s;
}
.off-canvas a {
    color: white;
}
.dark-layer {
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    border: 5px solid var(--blue);
    border-radius: 5px;
}
.blue-text {
    color: var(--blue);
}
.darkblue-text {
    color: var(--darkblue);
}
.dropdown-menu {
    background-color: var(--red);
}
@media (min-width: 576px) {
    footer .left-menu {
        border-left: 2px solid var(--gray);
        border-right: 1px solid var(--gray);
    }
    footer .right-menu {
        border-right: 2px solid var(--gray);
        border-left: 1px solid var(--gray);
    }
    main {
        max-height: none;
    }
}
@media (min-width: 768px) {
    .top-menu a, .top-menu button {
        padding-top: .2rem;
        padding-bottom: .2rem;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}